
    <!-- top tiles -->
<div class="row" style="display: inline-block;" >
    <div class="tile_count">
    <div class="col-md-2 col-sm-4  tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total de Colaboradores</span>
        <div class="count"><%= @employee.size %></div>
    </div>
    <div class="col-md-2 col-sm-4  tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i>Total de Avaliações</span>
        <div class="count"><%= @evaluation.size %></div>
    </div>
    <div class="col-md-2 col-sm-4  tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Avaliações positivas</span>
        <div class="count green"><%= evaluation_positive %></div>
    </div>
    <div class="col-md-2 col-sm-4  tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>Total Avaliações Negativas</span>
        <div class="count red"><%= evaluation_negative %></div>
    </div>
    <div class="col-md-2 col-sm-4  tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total de comentários</span>
        <div class="count"><%= @evaluation.size %></div>
    </div>
</div>
