<div role="main">
    <div class="clearfix"></div>
    <div class="row">

        <% if @employee.errors.any? %>
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">×</button>
                <ul>
                    <% @employee.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cadastrar Colaborador</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <%= form_with(model: [ :admins_backoffice, @employee  ], local: true, class:"form-horizontal form-label-left") do |form|  %>
                        <div class="item form-group">
                            <%= form.label :name, :class => "col-form-label col-md-3 col-sm-3 label-align"%>
                            <div class="col-md-6 col-sm-6">
                                <%= form.text_field :name, :class => "form-control", :placeholder => "Nome Completo" %>
                            </div>
                        </div>   
                        <div class="item form-group">
                            <%= form.label :office, :class => "col-form-label col-md-3 col-sm-3 label-align"%>
                            <div class="col-md-6 col-sm-6">
                                <%= form.text_field :office, :class => "form-control", :placeholder => "Cargo" %>
                            </div>
                        </div>   
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button type="submit" class="btn btn-success">Cadastrar</button>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>